h1 {
  font-family: 'Fugaz One', cursive;
}

/* overlapping arrows for dashboard */
.overlapping-arrows {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.overlapping-arrows .col-md-4 {
  display: block;
  float: left;
  height: 7rem;
  background: #ffc107;
  text-align: center;
  position: relative;
  margin: 0 25px 0 0;
  font-size: 20px;
  text-decoration: none;
	color: #fff;
	max-width: 30%;
}

.overlapping-arrows .col-md-4 h5 {
  margin-top: 50px;
  margin-left: 80px;
  font-size: 1.5rem;
  color: #343a40;
}

.overlapping-arrows .col-md-4:after {
  content: "";
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  border-left: 80px solid #ffc107;
  position: absolute;
  right: -80px;
  top: 0;
  height: 7rem;
}

.overlapping-arrows .col-md-4:before {
  content: "";
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  border-left: 80px solid #f3f2f2;
  position: absolute;
  left: 0;
  top: 0;
  height: 7rem;
}

.overlapping-arrows .col-md-4:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.overlapping-arrows .col-md-4:first-child:before {
	display: none;
}

/* dashboard */

.document-card-container {
	padding-left: 2rem;
	margin-left: 3.7rem !important;
}

.document-card-container .col-md-4 {
	max-width: 30%;
	margin-right: 4.2rem;
	padding-left: 1rem;
}

.document-card {
  height: 6.4rem;
  width: 15rem;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.document-card:hover {
  height: 13rem !important;
  transition: 0.3s ease-in-out;
}

h5 {
  font-family: 'Fugaz One', cursive;
}

/* login */
.MuiButton-containedPrimary {
  background: #ffc107 !important;
  color: #343a40 !important;
  font-weight: 700 !important;
}

/* misc */
button:focus {
  outline: none !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #ffc107 !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid #343a40 !important;
}

.MuiTypography-h6 {
  font-family: 'Fugaz One', cursive !important;
}

a {
  color: #343a40 !important;
}
a:hover {
  text-decoration: none !important;
}